.slider_box {
  position: relative;
}
.items {
  display: none;
}
.register {
  display: block;
  width: 234px;
  height: 234px;
  position: absolute;
  z-index: 999;
  top: 167px;
  left: 69px;
  border-radius: 234px;
  background: url(https://www.oropipools.co.nz/images/register.png) no-repeat;
}
.camera_pag_ul {
  position: absolute;
  bottom: 19px;
  right: 21px;
  z-index: 888;
}
.camera_pag_ul li {
  float: left;
  margin: 0 0px 0 5px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.camera_pag_ul li span:hover,
.camera_pag_ul li.cameracurrent span {
  background-position: 0 bottom;
}
.camera_pag_ul li span {
  width: 28px;
  height: 29px;
  display: block;
  background: url(https://www.oropipools.co.nz/images/pags.png) no-repeat;
  text-indent: -1000px;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner {
  width: 100px;
  height: 50px;
  position: absolute;
  color: #fff;
  font: 20px Arial, Helvetica, sans-serif;
  background: #f0f;
  display: none;
}

.camera_wrap {
  display: none;
  min-height: 431px;
  z-index: 9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 !important;
  overflow: hidden !important;
}

.camera_src {
  display: none;
}

.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .camera_wrap {
    min-height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .camera_wrap {
    min-height: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .camera_wrap {
    min-height: 190px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .camera_wrap {
    min-height: 170px;
  }
  .camera_pag_ul li span {
    width: 20px;
    height: 21px;
  }

  .camera_pag_ul li span:hover,
  .camera_pag_ul li.cameracurrent span {
    background-position: 0 -21px;
  }

  .camera_pag_ul {
    bottom: 5px;
  }

  .camera_pag_ul li span {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .camera_wrap {
    min-height: 100px;
  }

  .camera_pag_ul {
    bottom: 5px;
  }

  .camera_pag_ul li span:hover,
  .camera_pag_ul li.cameracurrent span {
    background-position: 0 -19px;
  }

  .camera_pag_ul li span {
    width: 18px;
    height: 18px;
  }
}

/*
     FILE ARCHIVED ON 20:06:36 Jan 25, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:59:48 Jul 12, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.721
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.017
  esindex: 0.012
  cdx.remote: 47.788
  LoadShardBlock: 75.965 (3)
  PetaboxLoader3.datanode: 170.82 (4)
  load_resource: 295.414
  PetaboxLoader3.resolve: 71.671
*/